#box{
    background-color: rgb(189, 189, 189);
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    color: #fff;
}
.item{
    background-color: black;
    margin: 5px;
    padding: 10px;
}


@media (max-width: 700px){
    #box{
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    #box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }
}

@media (min-width: 901px) {
    #box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
}